<h1><%= t :volunteers %></h1>
<div class="row">
  <div class="col-lg-6">
    <%= render partial: 'search', locals: { search: @search } %>
  </div>
</div>

<ul>
<% @users.each do |user| %>
  <li>
    <%= link_to user.fullname, volunteer_path(user) %>
  </li>
<% end %>
</ul>
