<% if @users.present? %>
  <div class='row'>
    <div class='team'>
      <h4>Zespół</h4>
      <ul>
        <% @users.each do |user| %>
          <li><%= link_to user.fullname, volunteer_path(user) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
